.ogtags label {
	width: 190px;
	display: inline-block;
	margin: 8px 10px;
}

.ogtags input[type='text'] {
	width: 500px;
	vertical-align: middle;
	padding: 5px 10px;
}

.ogtags-sidebar {
	display: block;
	float: right;
	margin: 15px 30px 0px 0px;
	background: #fff;
	padding: 0px 15px;
	text-align: center;
}

.ogtags-sidebar h2 {
	margin: 10px 0px;
}